{% extends "bases/base.html" %}

{% load static %}


{% block title %}
    About Us
{% endblock title %}


{% block content %}
    
    <div class="" id="etat">
        <div class="mini-nav text-center">
            <p>
                <span><a href="#">Home</a></span> >
                <span>Pages</span> >
                <span>About us</span>
            </p>
        </div>
    </div>
    <!-- ********** About section ************ -->
    <section class="about">
        <div class="container">
            <div class="about--first">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 pr-lg-0">
                        <img src="{% static 'images/about1.jpg' %}" alt="about img" class="img-fluid">
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 pl-lg-0 " >
                        <div class="part--left">
                            <div class="title">
                                <h6>About us</h6>
                                <h3>Our long-standing experience</h3>
                            </div>

                            <h5 class="mt-4">We have over 15 year experience, Over 20,000 people work for us in more than 70 countries all over the world. Lorem ipsum viverra feugiat dolor sit amet.</h5>

                            <p class="mt-4">Viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel lorem ipsum. Lorem ipsum viverra feugiat dolor sit amet primis in faucibus orci.</p>

                            <div class="player mt-4">
                                <a href="#">
                                    <i class="fa fa-play"></i>
                                    See Our Story
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="features ">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="card--features">
                            <div class="icon">
                                <i class="fa fa-home"></i>
                            </div>

                            <a href="#">Guidance you need</a>

                            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed et dolor amet.</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="card--features">
                            <div class="icon">
                                <i class="fa fa-search"></i>
                            </div>

                            <a href="#">Guidance you need</a>

                            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed et dolor amet.</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="card--features">
                            <div class="icon">
                                <i class="fa fa-money"></i>
                            </div>

                            <a href="#">Guidance you need</a>

                            <p>Vivamus a ligula quam tesque et libero ut justo, ultrices in. Ut eu leo non. Duis sed et dolor amet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********** end section ************ -->
    <!-- ********* why us ************* -->
    <section class="why--us">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " id="ab">
                    <img src="{% static 'images/l3.jpg' %}" alt="about img" class="img-fluid">
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 part--left" id="ab">
                    <div class="title">
                        <h6>Why us</h6>
                        <h3>To help members become more profitable and successful</h3>
                    </div>

                    <p class="mt-5">We have over 15 year experience in business consulting arena. Learn more about our work! Lorem ipsum viverra feugiat. Pellen tesque libero ut justo, ultrices in ligula. Semper at tempufddfel</p>

                    <div class="text--h5 mt-5">
                        <h5><i class="fa fa-check"></i> Help sellers get the most for their properties</h5>
                        <h5><i class="fa fa-check"></i> Help sellers price their properties fairly</h5>
                        <h5><i class="fa fa-check"></i> Help buyers find the property that fits their needs</h5>
                        <h5><i class="fa fa-check"></i> Avoid over paying by strategically negotiating</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********** end section ************ -->
    <!-- ******** section team ********* -->
    <section class="team">
        <div class="container">
            <div class="title text-center">
                <h6>Our team</h6>
                <h3>Meet our agents</h3>
            </div>

            <div class="row mt-5">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 " id="agents">
                    <div class="card--team">
                        <div class="illustration">
                            <img src="{% static 'images/team3.jpg' %}" alt="about img" class="img-fluid">
                        </div>

                        <div class="description text-center">
                            <p>Seilling agent</p>

                            <h4 class="team-name">Kangouté Nouria</h4>

                            <h5 class="team-number">+225 01234567</h5>

                            <a href="#">
                                <button>
                                    Contacter
                                </button>
                            </a>
                        </div>


                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                    <div class="card--team">
                        <div class="illustration">
                            <img src="{% static 'images/team3.jpg' %}" alt="about img" class="img-fluid">
                        </div>

                        <div class="description text-center">
                            <p>Seilling agent</p>

                            <h4 class="team-name">Kangouté Nouria</h4>

                            <h5 class="team-number">+225 01234567</h5>

                            <a href="#">
                                <button>
                                    Contacter
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                    <div class="card--team">
                        <div class="illustration">
                            <img src="{% static 'images/team3.jpg' %}" alt="about img" class="img-fluid">
                        </div>

                        <div class="description text-center">
                            <p>Seilling agent</p>

                            <h4 class="team-name">Kangouté Nouria</h4>

                            <h5 class="team-number">+225 01234567</h5>

                            <a href="#">
                                <button>
                                    Contacter
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 ">
                    <div class="card--team">
                        <div class="illustration">
                            <img src="{% static 'images/team3.jpg' %}" alt="about img" class="img-fluid">
                        </div>

                        <div class="description text-center">
                            <p>Seilling agent</p>

                            <h4 class="team-name">Kangouté Nouria</h4>

                            <h5 class="team-number">+225 01234567</h5>

                            <a href="#">
                                <button>
                                    Contacter
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********** end section ************ -->

    <!-- ********** stats section ************* -->
    <section class="stats">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                    <div class="card--counter">
                        <h3>5100 <span>+</span></h3>
                        <p>Home for sale</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                    <div class="card--counter">
                        <h3>5100 <span>+</span></h3>
                        <p>Home for sale</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                    <div class="card--counter">
                        <h3>5100 <span>+</span></h3>
                        <p>Home for sale</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
                    <div class="card--counter">
                        <h3>5100 <span>+</span></h3>
                        <p>Home for sale</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********** end section ************ -->
    {% endblock content %}


