{% extends "bases/base.html" %}

{% load static %}


{% block title %}
    Contact
{% endblock title %}


{% block content %}
<div class="mini-nav text-center yan_orient">
    <p>
        <span><a href="{% url 'index' %}">Home</a></span> >
        <span><a href="{% url 'listing' %}">Pages</a></span> >
        <span>Contact</span>
    </p>
</div>
    <div class="yan">

        <section class="left_yan">
            <h5>Entrer en contact</h5>
            <p>Votre adresse email ne sera pas publiée. Les champs requis sont indiqués *</p>
            <form action="{% url 'contact' %}" method="POST">
                {% csrf_token %}
                <div class="yan_input">
                    {{ contact_form.nom }}
                    {{ contact_form.email }}
                </div>
                {{ contact_form.message }}
                <input type="checkbox" class="yan_checkbox">
                <p class="yan_special">Enregistrez mon nom, mon adresse e-mail et mon site Web dans ce navigateur pour la prochaine fois que je commenterai</p>
                <button type="submit" class="btn_yan">Soumettre</button>
            </form>
        </section>
        <section class="right_yan">
            <h5>Entrer en contact</h5>
            <p><span class="fa fa-map-marker"></span>Bureau de vente immobilier , Cocody Angré Carrefour Gestoci</p>

            <h5>Téléphone informatiom</h5>
            <p><span class="fa fa-mobile"></span>Téléphone: (+225) 87175804</p>
            <p><span class="fa fa-phone"></span>Téléphone: (+225) 03608221</p>
            <p><span class="fa fa-envelope"></span>Courriel: kacou585@gmail.com</p>
        </section>
    </div>

    {% endblock content %}
