{% load static %}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <link rel="icon" href="{% static "images/logo.png" %}" type="image/png" sizes="100x100">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap-min.css' %}">
  <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<script src="https://use.fontawesome.com/42b4ff5678.js' %}"></script>

  </head>
  <body>

<!-- navbar -->
<div class="mycontainer" id="cdcc">


      <div class="col-lg-10 col-md-10 offset-lg-1 header">
      <nav class="navbar navbar-expand-lg navbar-dark " id="navb">
      <a class="navbar-brand" href="#"><img src='{% static "images/logo.png" %}' width='110px' height='80px'></img></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Accueil <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'listing' %}">Nos Propriétées</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">À propos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>

        </ul>
        <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
          {% csrf_token %}
      
          <input class="form-control mr-sm-2 " id="searchbar" type="search" placeholder="Logement ..." aria-label="Search" name='q'>
          <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Recherche</button>
        </form>
      </div>
      </nav>

      </div>
</div>
<!-- navbar -->


 <!--background image-->
<div class="haut">
        <div class="post">
          <div class="col-lg-8  col-sm-12 slogan">
          <div class="slogan1">
          <p>C'est super d'être à la maison!</p>
          <h2>Trouvez une propriété aujourd'hui</h2>



          <form action="{% url 'search' %}" class="w3l-cover-3-gd" method="GET">
            {% csrf_token %}


            <input  type="search" name="q" placeholder="Entrez des mots clés" required="">
            <span class="input-group-btn">
              <select  class="btn btn-default" name="q" required="">
                <option selected="">Bureau</option>
                <option>Villa</option>
                <option>Appartement</option>
                <option>Maison privée</option>
                <option>Bâtiment</option>
                <option>Boutique</option>
                <option>Logement social</option>
                <option>Maison de ville</option>
              </select>
            </span>
            <span class="input-group-btn">
              <select  class="btn btn-default" name="q" required="">
                <option selected="">Choisissez le quartier</option>

                <option>COCODY</option>
                <option>angre</option>
                <option>Treichville</option>
                <option>deux plateaux</option>
                <option>macory</option>
                <option>koumassi</option>
                <option>abobo</option>
              </select>
            </span>
            <button  type="submit" class="btn-primary">Chercher</button>
          </form>




        </div>

      </div>
        </div>
</div>
  <!-- background image -->


      <!-- Principale propriete -->
      <div id="mainn">


          <div id="main" >
            <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 principale">
              <div class="locations py-5">
                      <div class="container py-lg-5 py-md-4 py-2">
                          <div class="heading text-center mx-auto">
                              <h3 class="title-big">Top Properties</h3>
                          </div>
                          <div class="row pt-md-5 pt-4">
                            {% for propriete in propriete %}
                                <div class="col-lg-4 col-md-6 best">
                                  <a href="{% url 'detail' propriete.id %}">
                                    <img class="img-fluid" src="{{ propriete.image1.url }}" alt="">
                                          <div class="rentext-listing-category rent"><span>{{ propriete.statu }}</span></div>
                                          <div class="box-content">
                                              <h3 class="title">{{ propriete.prix }} Fcfa</h3>
                                              <span class="post">{{ propriete.quartier }}</span>

                                      </div>
                                  </a>
                              </div>
                            {% endfor %}

                          </div>
                      </div>
                  </div>






            </div>
          </div>
      <div class="col-lg-12 col-sm-12" id='services'>


      <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 ">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-12 house" id="serv">
            <div class="icon">
                <i class="fa fa-home"></i>
            </div>
            <h4>Acheter une maison</h4>
            <p>procuree vous votre chez vous avec my hous les meilleur maison sur...</p>
             <p><a href="{% url 'listing' %}">Lire la suite </a><span></span></p>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 house" id="serv">
            <div class="icon">
                <i class="fa fa-search"></i>
            </div>
            <h4>Louer une maison</h4>
            <p>vous voulez louee une maison avec tous les comoditer c'est chez nous.</p>
             <p><a href="{% url 'about' %}">Lire la suite </a><span></span></p>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 house" id="serv">
            <div class="icon">
                <i class="fa fa-search"></i>
            </div>
            <h4>Voir les quatiers</h4>
            <p>les quatiers les plus ip a des kilometre a la ronde .</p>
             <p><a href="{% url 'listing' %}">Lire la suite </a><span></span></p>

        </div>

      </div>
      </div>
      </div>

      <div class="col-lg-12 col-sm-12 explorer">
        <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 principale">
          <div class="col-6 offset-3 titre">
            <p>EXPLORER LES VILLES</p>
            <h2>Emplacements populaires</h2>
          </div>
          <div class="row pt-md-5 pt-4">
            {% for position in position %}

              <div class="col-lg-3 col-md-6 best">
                  <a href="{% url 'listing' %}">
                    <img class="img-fluid" src="{{ position.image.url }}" alt="">
                    <div class="box-content">
                        <h4 class="title">{{ position.nom }}</h4>
                </div>
                  </a>
              </div>
            {% endfor %}

          </div>


        </div>
        </div>
      </div>
      <section class="why--us">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 " id="ab">
                      <img src="{{ presentation.image.url }}" alt="about img" class="img-fluid">
                  </div>

                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 part--left" id="ab">
                      <div class="title">
                          <h6>QUI NOUS SOMMES</h6>
                          <h3>{{ presentation.nom }}</h3>
                      </div>

                      <p class="mt-5">{{ presentation.description }}</p>



                      <p><button type="button" class="btn btn-warning"><a href="{% url 'about' %}">Contacter nos agents</a></button></p>
                  </div>
              </div>
          </div>
      </section>


      <div class="col-lg-12 col-sm-12" id='info'>


      <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2 ">
        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-12 house" id="serve">
            <div class="icon">
                <i class="fa fa-search"></i>
            </div>
            <p>TOUT EN UN SEUL ENDROIT</p>
            <h4>Votre guichet unique pour trouver la maison de vos rêves</h4>
            <p>Vivamus a ligula quam.
              Ut blandit eu leo ​​non. Duis sed dolor in orci.</p>
             <p><a href="{% url 'ajout' %}">Rechercher une maison</a><span></span></p>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 house" id="serve">
            <div class="icon">
                <i class="fa fa-search"></i>
            </div>
            <p>CONNECTEZ-VOUS À UN AGENT</p>
            <h4>Prenez un rendez-vous gratuit et sans engagement</h4>
            <p>Vivamus a ligula quam. Ut blandit eu leo ​​non.
              Duis sed dolor in orci.</p>
             <p><a href="#">Trouver un agent </a><span></span></p>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 house" id="serve">
          <div class="icon">
              <i class="fa fa-search"></i>
          </div>
          <p>OBTENEZ UNE ÉVALUATION DE LA MAISON</p>
          <h4>Comprenez la valeur de votre propriété</h4>
          <p>Vivamus a ligula quam. Ut blandit eu leo ​​non.
             Duis sed dolor amet ipsum primis dans faucibus orci.</p>
           <p><a href="#">Soumettre des informations </a><span></span></p>

        </div>

      </div>
      </div>
      </div>


      <!-- ***************** mon footer ******************-->


      <div class="col-lg-12  footer ">

            <div class="col-lg-10 col-md-10 col-sm-12 offset-lg-1"  >
              <div class="row" id="mybloc">


              <div class="col-lg-3 col-md-8   firstb">
                  <p><span class="fa fa-comments fa-3x figa"></span></p>
                  <p class="titlebas"><a href='#'>CONSULTATION GRATUITE</a></p>
                  <h6>Planifiez une consultation gratuite avec notre spécialiste.</h6>
                  <p class="savoirplus"><a href='#'> EN SAVOIR PLUS</a></p>
              </div>
              <div class="col-lg-3 col-md-8   firstb" >
                <p><span class="fa fa-phone fa-3x figa"></span></p>
                <p class="titlebas"><a href='#'>BUREAU D'AIDE</a></p>
                <h6>Vous avez des questions ou souhaitez
                  plus d'informations? Appelle maintenant.</h6>
                  <p class='mynum'>+ 225 790-954-47</p>
              </div>
              <div class="col-lg-4 col-md-8  firstb" >
                <p class="titlebas">S'inscrire aux Newsletters</p>
                <p>et recevez les dernières nouvelles et mises à jour</p>
                <div class="">
                  <form action="#" class="subscribe-form mt-4" method="post">
              <div class="form-group">
                <input type="email" id="email" name="subscribe" placeholder="Enter your email" required="">
                <button class="btn btn-style " id="emailbtn">S'abonnez</button>
              </div>
            </form>
            <ul class="footers-17_social">
              <p class="d-inline mr-4 titlebas">Suivez nous :</p>
              <li><a href="#url" class="twitter"><span class="fa fa-twitter fa-3x"></span></a></li>
              <li><a href="#url" class="facebook"><span class="fa fa-facebook fa-3x"></span></a></li>
              <li><a href="#url" class="linkedin"><span class="fa fa-linkedin fa-3x"></span></a></li>
              <li><a href="#url" class="instagram"><span class="fa fa-instagram fa-3x"></span></a></li>
            </ul>
                </div>
              </div>
            </div>
            </div>
            <div class="d-grid grid-col-3 grids-content1 bottom-border">
        <div class="columns copyright-grid align-self mesdroit">
          <p class="copy-footer-29">© 2020 my House. All rights reserved | Designed by <a
              href="#">my House</a></p>
        </div>
          </div>
        </div>

        <!-- Principale propriete -->


        <!-- ***************** mon footer ******************-->



      <!-- import fichier js -->
      <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

<script src="{% static 'js/theme-change.js' %}"></script><!-- theme switch js (light and dark)-->

<!-- stats number counter-->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.countup.js' %}"></script>
      <script>

      $(document).ready(function(){
      $(window).scroll(function(){
        var scroll = $(window).scrollTop();
        if (scroll > 80) {
          $(".mycontainer").css("background" , "#121725");
        }

        else{
          $(".mycontainer").css("background" , "none");
        }
      })
      })

      </script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.js' %}"></script>
  </body>
</html>
