{% extends "bases/base.html" %}

{% load static %}


{% block title %}
    immobilier
{% endblock title %}


{% block content %}


    <div class="" id="etat">
        <div class="mini-nav text-center">
            <p>
                <span><a href="#">Home</a></span> >
                <span>Listing</span>
            </p>
        </div>
    </div>
    <!-- *********listing section************* -->
    <section class="listing">
        <div class="container">
           <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
                  <a href="{% url 'detail' %}">
                    <div class="card--listing">
                        <div class="illustration">
                            <img src="{% static 'images/l2.jpg' %}" alt="about img" class="img-fluide">

                            <div class="rent--buy">
                                <span id="bl"> A Louer</span>

                            </div>

                            <div class="price">
                                <h2>250 000Fcfa</h2>
                            </div>
                        </div>

                        <div class="description ">
                            <h4 class="team-name">Cottage villa</h4>
                            <p>Abidjan, Cocody Angré djibi</p>

                            <ul>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 3 chambres</span></li>
                                <li><span>&nbsp; &nbsp;</span></li>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 salon</span></li>

                            </ul>


                            <div class="seilor mt-4">
                                <div class="img-seilor">
                                    <img src="{% static 'images/team3.jpg' %}" alt="img-seilor" class="img-fluid">
                                </div>

                                <div class="descrip-seilor">
                                    <h5>Laura Antiochus</h5>
                                    <p>Selling agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
                  <a href="{% url 'detail' %}">
                    <div class="card--listing">
                        <div class="illustration">
                            <img src="{% static 'images/l2.jpg' %}" alt="about img" class="img-fluide">

                            <div class="rent--buy">

                                <span>En Vente</span>
                            </div>

                            <div class="price">
                                <h2>10 000 000Fcfa</h2>
                            </div>
                        </div>

                        <div class="description ">
                            <h4 class="team-name">Cottage villa</h4>
                            <p>Unnamed Road, Vegas, NV 89103.</p>

                            <ul>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                                  <li><span>&nbsp; &nbsp;</span></li>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                            </ul>


                            <div class="seilor mt-4">
                                <div class="img-seilor">
                                    <img src="{% static 'images/team3.jpg' %}" alt="img-seilor" class="img-fluid">
                                </div>

                                <div class="descrip-seilor">
                                    <h5>Laura Antiochus</h5>
                                    <p>Selling agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
                  <a href="{% url 'detail' %}">
                    <div class="card--listing">
                        <div class="illustration">
                            <img src="{% static 'images/l2.jpg' %}" alt="about img" class="img-fluide">

                            <div class="rent--buy">
                                <span> A Louer</span>

                            </div>

                            <div class="price">
                                <h2>$21,000,000</h2>
                            </div>
                        </div>

                        <div class="description ">
                            <h4 class="team-name">Cottage villa</h4>
                            <p>Unnamed Road, Vegas, NV 89103.</p>

                            <ul>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                                <li><span>&nbsp; &nbsp;</span></li>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                            </ul>


                            <div class="seilor mt-4">
                                <div class="img-seilor">
                                    <img src="{% static 'images/team3.jpg' %}" alt="img-seilor" class="img-fluid">
                                </div>

                                <div class="descrip-seilor">
                                    <h5>Laura Antiochus</h5>
                                    <p>Selling agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
                  <a href="{% url 'detail' %}">
                    <div class="card--listing">
                        <div class="illustration">
                            <img src="{% static 'images/l2.jpg' %}" alt="about img" class="img-fluide">

                            <div class="rent--buy">
                                <span>En Vente</span>

                            </div>

                            <div class="price">
                                <h2>$21,000,000</h2>
                            </div>
                        </div>

                        <div class="description ">
                            <h4 class="team-name">Cottage villa</h4>
                            <p>Unnamed Road, Vegas, NV 89103.</p>

                            <ul>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                              <li><span>&nbsp; &nbsp;</span></li>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                            </ul>


                            <div class="seilor mt-4">
                                <div class="img-seilor">
                                    <img src="{% static 'images/team3.jpg' %}" alt="img-seilor" class="img-fluid">
                                </div>

                                <div class="descrip-seilor">
                                    <h5>Laura Antiochus</h5>
                                    <p>Selling agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
                  <a href="{% url 'detail' %}">
                    <div class="card--listing">
                        <div class="illustration">
                            <img src="{% static 'images/l2.jpg' %}" alt="about img" class="img-fluide">

                            <div class="rent--buy">
                                <span>A Louer</span>

                            </div>

                            <div class="price">
                                <h2>$21,000,000</h2>
                            </div>
                        </div>

                        <div class="description ">
                            <h4 class="team-name">Cottage villa</h4>
                            <p>Unnamed Road, Vegas, NV 89103.</p>

                            <ul>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                                <li><span>&nbsp; &nbsp;</span></li>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                            </ul>


                            <div class="seilor mt-4">
                                <div class="img-seilor">
                                    <img src="{% static 'images/team3.jpg' %}" alt="img-seilor" class="img-fluid">
                                </div>

                                <div class="descrip-seilor">
                                    <h5>Laura Antiochus</h5>
                                    <p>Selling agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
                  <a href="">
                    <div class="card--listing">
                        <div class="illustration">
                            <img src="{% static 'images/l2.jpg' %}" alt="about img" class="img-fluide">

                            <div class="rent--buy">
                                <span>A Louer</span>

                            </div>

                            <div class="price">
                                <h2>$21,000,000</h2>
                            </div>
                        </div>

                        <div class="description ">
                            <h4 class="team-name">Cottage villa</h4>
                            <p>Unnamed Road, Vegas, NV 89103.</p>

                            <ul>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                                <li><span>&nbsp; &nbsp;</span></li>
                                <li><span><i class="fa fa-bed"></i>&nbsp; 2 beds</span></li>
                            </ul>


                            <div class="seilor mt-4">
                                <div class="img-seilor">
                                    <img src="{% static 'images/team3.jpg' %}" alt="img-seilor" class="img-fluid">
                                </div>

                                <div class="descrip-seilor">
                                    <h5>Laura Antiochus</h5>
                                    <p>Selling agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
           </div>
           <!-- *********************** -->
           <div class="pagination-profil">
            <div class="circle">
                <span class="number">
                    <i class="fa fa-arrow-left"></i>
                </span>
            </div>
            <div class="circle active">
                <span class="number">1</span>
            </div>
            <div class="circle">
                <span class="number">2</span>
            </div>
            <div class="circle">
                <span class="number">3</span>
            </div>
            <div class="circle">
                <span class="number">4</span>
            </div>
            <div class="circle">
                <span class="number">5</span>
            </div>
            <div class="circle">
                <span class="number">
                    <i class="fa fa-arrow-right"></i>
                </span>
            </div>
        </div>
        </div>
    </section>
    <!-- **********end section ************ -->
{% endblock content %}
