{% extends "bases/base.html" %}

{% load static %}


{% block title %}
    immobilier
{% endblock title %}


{% block content %}


    <div class="" id="etat">
        <div class="mini-nav text-center">
            <p>
                <span><a href="#">Home</a></span> >
                <span>Listing</span>
            </p>
        </div>
    </div>
    <!-- *********listing section************* -->
    <section class="listing">
        <div class="container">
           <div class="row">
               
               {% for propriete in propriete %}
                                      
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 ">
                  <a href="{% url 'detail' %}">
                    <div class="card--listing">
                        <div class="illustration">
                            <img src="{{ propriete.image1.url }}" alt="about img" class="img-fluide">

                            <div class="rent--buy">
                                <span id="bl">{{ propriete.statu }}</span>

                            </div>

                            <div class="price">
                                <h2>{{ propriete.prix }}cfa</h2>
                            </div>
                        </div>

                        <div class="description ">
                            <h4 class="team-name">{{ propriete.nom }}</h4>
                            <p>{{ propriete.quartier }}</p>

                            <ul>
                                <li><span><i class="fa fa-bed"></i>&nbsp; {{ propriete.chambre }} chambres</span></li>
                                <li><span>&nbsp; &nbsp;</span></li>
                                <li><span><i class="fa fa-bed"></i>&nbsp; {{ propriete.douche }} salon</span></li>

                            </ul>


                            <div class="seilor mt-4">
                                <div class="img-seilor">
                                    <img src="{% static 'images/team3.jpg' %}" alt="img-seilor" class="img-fluid">
                                </div>

                                <div class="descrip-seilor">
                                    <h5>Laura Antiochus</h5>
                                    <p>Selling agent</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
           </div>
           <!-- *********************** -->
           <div class="pagination-profil">
            <div class="circle">
                <span class="number">
                    <i class="fa fa-arrow-left"></i>
                </span>
            </div>
            <div class="circle active">
                <span class="number">1</span>
            </div>
            <div class="circle">
                <span class="number">2</span>
            </div>
            <div class="circle">
                <span class="number">3</span>
            </div>
            <div class="circle">
                <span class="number">4</span>
            </div>
            <div class="circle">
                <span class="number">5</span>
            </div>
            <div class="circle">
                <span class="number">
                    <i class="fa fa-arrow-right"></i>
                </span>
            </div>
        </div>
        </div>
    </section>
    <!-- **********end section ************ -->
{% endblock content %}
