*{
    box-sizing: border-box;
}
/*propriete body a suprimer a la fusion*/
body{
    background-color: #121725;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
.card{
  max-height: 539px;
}
.card *{
  z-index: 10;
}

.yan{
    margin-top: 100px !important;
    /*margin top a enlever lors de la fusion*/
    display: flex;
    justify-content: space-between;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;

}

/*  header  */
#cdc{
  padding:0px;
  margin:0px;
  width: 100%;

  background: url(../images/banner.jpg) ;
  z-index: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.mycontainer{
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-bottom: 1px solid #C2C2C2;

}
.mycontainer-scroll{
  background-color:#121725;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-bottom: 1px solid #C2C2C2;
}
.header{
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
}

nav{
  padding-top: 20%;

}
.yan_orient{
  margin-top:100px;
  width:100%;
  height:80px;
  background-color:#161c2d;
}

@media screen and (max-width: 992px) {
  #navb{
    background-color:none;
    font-size:16px;
  }
}
/*  header  */



/* ------------------  CSS pour la page contacter un Agent ---------------*/

.yan input, .yan textarea{

    padding: 13px 33px;
    background: #161c2d;
    border: none;
    color: #c2c2c2;
    font-size: 18px;
    line-height: 28px;
    padding: 13px 30px;
    max-width: 100%;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0,1);
    outline: none;
}
.yan_input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.yan textarea{
    height: 140px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    resize: none;
    margin-top: 24px;
    width: 100%;
}
.yan input{
    width: 341px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.left_yan{
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    background: #161c2d;
    max-width: 65%;
}

.right_yan{
    max-width: 33%;
    padding: 50px 35px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    background: #161c2d;
    height: max-content;
}
.btn_yan{
    padding: 10px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 35px;
    cursor: pointer !important;
    margin-top: 16px;
    color: white;
    background-color: #f93;
    border-color: #f93;
}
.btn_yan:hover {
    color: #212529;
}
.yan h5{
    color: #eee;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 15px;
    font-weight: 700;
    margin-top: 0;
}
.yan p{
    color: #c2c2c2;
}
.yan .yan_checkbox{
    width: 13px;
    height: 13px;
}
.yan_special{
    font-size: 0.90em;
}
.yan .fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

    margin-right: 10px;
    font-size: 16px;
    width: 20px;
    text-align: center;
    color: var(--font-color);
    opacity: .5;
}
.yan .fa:hover{
    color: #eee;
    opacity: 1;
}
.right_yan p{
    line-height: 1.45;
}




@media only screen and (max-width: 1250px){
    .yan input{
        width: 100%;
        height: 100%;
    }
    .left_yan{
        margin-bottom: 30px;
    }
    .btn_yan{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

}
@media only screen and (max-width: 1042px){
    .yan{
        margin-top:105px;
        flex-flow: column;
        align-items: center;
    }
    .right_yan{
        max-width: 50%;
        min-width: 345px;
    }
    .left_yan{
        max-width: 60%;
        min-width: 300px;
    }

}
@media only screen and (max-width: 900px){
    .yan_input{
        display: flex;
        flex-flow: column;
    }

}
/* ------------------  CSS pour la page contacter un Agent ---------------*/


/* ------------------  CSS pour la page Ajoute d'article maison -------------*/

.corps{
    background: lightgray;
}
label{
    font-size: 18px;
}
.table{
    opacity: .9;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
h3{
    font-weight: bold;
    text-align: center;
}

th{
    text-align: center;
}
main{
    border-radius: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 65%;
    height: 550px;
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
.contenu{
    width: 42%;
}
.image{
    width: 55%;
}
h4{
    text-align: center;
    margin-bottom: 30px;
}
.bleu{
    margin-top: 30px;
}
/*page modifier*/
.conteneur h3, h4{
    font-size: 22px;
    color: #00438b;
}
.Formul label{
    margin-right: 20px;
}
.Formul *{
  color: #161C2D;
}
.left{
    padding-bottom: 10px;
    margin: 20px 10px;
    border-bottom: 1px solid lightgray;
}
.Formul{
    padding: 15px 20px;
    width: 60%;
    height: auto;
    border: 2px solid #B1DA7C;
    background: rgb(236, 236, 236);
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.Formul p{
    text-align: center;
}
.vert{
    margin: 20px;
    text-align: center;
}

#descriptions{
    border: 1px solid rgb(138, 138, 138);
    resize: none;
}



/* ------------------  CSS pour la page Ajoute d'article maison ----------*/




/* ------------------  CSS pour la page details d'article maison -----------*/

/* salimata */
li , ul {
    list-style-type:none;

}
.post .text a{
  text-decoration: none;
}

.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}
/*@media*/

.w3l-blog h2.title-single {
    font-weight: 600; }

.w3l-blog ul.blog-single-author-date{
    padding-left: 0px;
}
.w3l-blog ul.blog-single-author-date li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    transition: 0.3s ease-in-out; }


  .w3l-blog .blo-singl {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; }




  .w3l-blog ul.share-post li a span.fa {
    color: #fff;
    font-size: 14px; }





  h3.post-content-title {
    font-size: 30px;
    font-weight: 600; }

  @media (max-width: 991px) {
    .w3l-blog .blo-singl {
      grid-template-columns: 1fr;
      grid-gap: 15px; }
    h3.post-content-title {
      font-size: 24px; } }

  @media (max-width: 736px) {
    ul.details-list {
      grid-template-columns: 1fr 1fr; }
    h3.post-content-title {
      font-size: 24px; }
    .w3l-blog h2.title-single {
      margin-bottom: 10px; }
}

  @media (max-width: 480px) {
    .w3l-blog .blo-singl {
      grid-template-columns: 1fr;
      grid-gap: 20px; }

    ul.details-list li {
      font-size: 17px; }
     }

  @media (max-width: 415px) {
    h3.post-content-title {
      font-size: 22px; }

    ul.details-list {
      grid-template-columns: 1fr; }
    .w3l-blog ul.blog-single-author-date li {
      margin-right: 15px;
      font-size: 15px; }
    .w3l-blog a.name {
      font-size: 18px; }
    .w3l-blog a.posts-view label {
      font-size: 18px;
      line-height: 26px; } }

  @media (max-width: 384px) {

    .w3l-blog ul.blog-single-author-date li {
      margin-right: 12px;
      font-size: 15px; } }
/*listing categories*/
    .listing-category span {
        background: rgba(0, 0, 0, 0.35);
        padding: 10px 10px;
        margin-right: 5px;
        font-size: 20px;
        border-radius: 3px;
        color: green; }



/*cost-estate*/
        a.cost-estate {
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 5px;
            text-decoration: none;
            display: inline-block;
          color: green;}
/*media*/

@media (max-width: 480px) {
    .side-post-banner {
      min-height: 280px; }
    ul.estate-info li {
      margin-right: 15px;
      font-size: 14px; }
    p.user_position {
      font-size: 16px; }
    a.cost-estate {
      font-size: 20px; }
    h4.user_title.agent a {
      font-size: 18px; }
    .blog-details ul.blog-meta li a {
      font-size: 16px; } }
/*w3l-news*/



  @media all and (max-width: 1280px) {
    .w3l-news .d-grid {
      grid-gap: 15px; } }

  @media all and (max-width: 1080px) {
    .w3l-news .d-grid {
      grid-template-columns: 1fr 1fr; } }

  @media all and (max-width: 800px) {
    .w3l-news .d-grid {
      grid-gap: 30px; } }

  @media all and (max-width: 768px) {
    .w3l-news .grids5-info h4 a {
      font-size: 20px;
      line-height: 25px; } }

  @media all and (max-width: 668px) {
    .w3l-news .d-grid {
      grid-template-columns: 1fr; } }

  @media all and (max-width: 568px) {
    .w3l-news .d-grid {
      grid-template-columns: 1fr; }
    .w3l-news .grids5-info p {
      margin-top: 12px; } }

  @media all and (max-width: 414px) {
    .w3l-news .grids5-info h4 a {
      font-size: 20px; } }

/*.owl-blog .owl-dots {
  display: none; }*/

  .owl-blog .owl-dots {
    display: none; }

/*carousel*/
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative; }

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1; }

  .owl-carousel .owl-stage {
    position: relative;
    touch-action: manipulation;
    -moz-backface-visibility: hidden; }

  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0); }

  .owl-carousel .owl-item,
  .owl-carousel .owl-wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0); }

  .owl-carousel .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none; }

  .owl-carousel .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled {
    display: none; }

  .no-js .owl-carousel,
  .owl-carousel.owl-loaded {
    display: block; }

  .owl-carousel .owl-dot,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-nav .owl-prev {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel button.owl-dot {
    border: none; }

  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }

  .owl-carousel.owl-hidden {
    opacity: 0; }

  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }

  .owl-carousel.owl-drag .owl-item {
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

  .owl-carousel.owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }

  .owl-carousel.owl-rtl {
    direction: rtl; }

  .owl-carousel.owl-rtl .owl-item {
    float: right; }

  .owl-carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }

  .owl-carousel .owl-animated-in {
    z-index: 0; }

  .owl-carousel .owl-animated-out {
    z-index: 1; }

  .owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut; }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }

  @keyframes fadeOut {
    0% {
      opacity: 1; }
    100% {
      opacity: 0; } }

  .owl-height {
    transition: height .5s ease-in-out; }

  .owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    transition: opacity .4s ease; }

  .owl-carousel .owl-item .owl-lazy:not([src]),
  .owl-carousel .owl-item .owl-lazy[src^=""] {
    max-height: 0; }

  .owl-carousel .owl-item img.owl-lazy {
    transform-style: preserve-3d; }


  @media (max-width: 568px) {
    .owl-carousel .owl-dots.disabled,
    .owl-carousel .owl-nav.disabled {
      display: none; } }

/*owl-theme*/

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  -webkit-tap-highlight-color: transparent; }

.owl-theme .owl-nav {
  display: block; }

.owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  background: none; }


.owl-theme .owl-nav [class*=owl-] {
  color: #fff;
  font-size: 18px;
  margin: 0px;
  width: 50px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 50px;
  line-height: 50px;
  border-radius: 50%; }

.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(255, 255, 255, 0.25);
  opacity: 1;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: 0.3s ease-in-out; }

.owl-theme .owl-nav [class*=owl-]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
  outline: none;
  box-shadow: none; }

.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default; }

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0px;
  text-align: left; }

.w3l-portflioblock .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0px;
  text-align: center; }

.w3l-blog-slider .owl-dots {
  text-align: center; }

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent; }

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
  position: relative; }

button.owl-next,
button.owl-prev {
  position: absolute;
  bottom: 50%; }

button.owl-prev {
  left: 10px; }

button.owl-next {
  right: 10px; }

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color); }

/*single-bg-white*/
.single-bg-white {
    background: #161c2d;
    padding: 30px;
    border-radius: var(--border-radius);
    margin-bottom: 40px;
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px; }

/*details-list*/
ul.details-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px; }


  ul.details-list li {
    color: var(--font-color);
    font-size: 18px; }

  ul.details-list li strong {
    color: var(--heading-color); }


/*Search Box Widget*/
.sidebar-title h4 {
    font-size: 22px;
    line-height: 28px;
    color: var(--heading-color);
    font-weight: 600;
    margin-bottom: 30px; }

  .sidebar-widget {
    margin-bottom: 40px;
    padding: 40px 30px;
    background: var(--bg-color);
    border-radius: var(--border-radius);
    box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px; }

    .sidebar-widget figure {
        margin: 0 0 0rem; }

    .sidebar-widget:last-child {
        margin-bottom: 0px; }

    @media (max-width: 384px) {
        .sidebar-widget {
            padding: 30px 20px; }
        .w3l-blog .post-content a.blog-desc {
            font-size: 1.3rem; }
        .popular-posts .post .text a {
            font-size: 18px;
            line-height: 26px; } }
/*popular post*/
.popular-posts{
  background-color: #161c2d;
}
.popular-posts .post {
    position: relative;
    min-height: 100px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--border-color-light);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 20px; }

  .popular-posts .post:last-child {
    margin-bottom: 0px;
    border-bottom: 1px solid transparent; }

  .sidebar-widget:last-child {
    margin-bottom: 0px; }

  .popular-posts .post .post-thumb {
    width: 80px;
    overflow: hidden; }

  .popular-posts .post .post-thumb img {
    display: block;
    width: 100%;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }

  .popular-posts .post .text {
    position: relative;
    font-size: 22px;
    margin: 0px 0px 10px;
    font-weight: 500;
    color: var(--heading-color);
    line-height: 1.2em;
    align-self: center; }

  .popular-posts .post .text a {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: var(--heading-color);
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease; }

  .popular-posts .post a:hover {
    color: var(--primary-color); }

  .popular-posts .post-info {
    position: relative;
    font-size: 14px;
    color: var(--font-color);
    font-weight: 400; }
/*le bouton qui ramener en haut */
    #movetop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        cursor: pointer;
        color: #fff;
        width: 46px;
        height: 46px;
        background: var(--primary-color);
        padding: 0;
        line-height: 36px;
        border-radius: 50px;
        transition: 0.3s ease-out; }

      #movetop:hover {
        transform: translate3d(0, -5px, 0);
        -webkit-transform: translate3d(0, -5px, 0);
        transition: 0.3s ease-out; }


/* ---------------  CSS pour la page details d'article maison ---------------*/


/* --------  CSS pour la page about et list  d'article maison ---------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#fff;
}
h5{
  color:white;
}

p{color:white;}

a, a:hover{
    text-decoration: none;
}

p{
    font-weight: 200;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

/**************mini-nav********************/
/*******************************************/
#etat{
  background-color: #161c2d;
  margin-top: 100px;

}
.mini-nav{
    padding: 20px 0;
    margin-top: 100px;
}

.mini-nav p{
    font-weight: bold;
    color: #fff;
}

.mini-nav span a{
    font-weight: bold;
    color: #fff;
    transition: all .3s ease-in-out;
}

.mini-nav span a:hover{
    font-weight: bold;
    color: orange;
}

/**************Div about********************/
/*******************************************/

.about{
    background-color: transparent;
    padding: 60px 0;
}

.about .about--first{
    background-color: #161c2d;
    box-shadow: 0px 9px 24px 5px rgba(0,0,0,0.04);
}


.about .about--first .part--left {
    padding: 60px ;
    background-color:#161c2d;
}
#ab{
    background-color:#161c2d;
}

.title h6{
    color: #fff;
    font-weight: bold;
}

.title h3{
    color: #fff;
    font-weight: bold;
    font-size: 36px;
}

.about .about--first .part--left h5{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.about .about--first .part--left p{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.about .about--first .part--left .player a{
    color: #fff;
    font-size: 20px;
    transition: all .3s ease-in-out;
}

.about .about--first .part--left .player a:hover{
    color: #orange;
}

.about .features{
    margin-top: 60px;
}

.about .features .card--features{
    padding: 20px;
    background-color: #161c2d;
    border-radius: 15px;
    margin-bottom: 10px;
}

.about .features .card--features .icon{
    font-size: 40px ;
    color: #fff;
    margin-bottom:1rem;
}

.about .features .card--features a{
    color: #fff;
    font-size: 20px;
    transition: all .3s ease-in-out;
    font-weight: bold;
}

.about .features .card--features a:hover{
    color: orange;
}

.about .features .card--features p{
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    margin-top: 20px;
}

.why--us{
    padding: 90px 0;
}

.why--us .part--left{
    padding: 20px;
}

.why--us .part--left h5{
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
    line-height: 30px;
}

.why--us .part--left p{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
}

.team{
    background-color: #161c2d;
    padding: 60px 0;
}

.team .card--team{
    box-shadow: 0px 9px 24px 5px rgba(0,0,0,0.04);
    margin-bottom: 10px;
}

.team .card--team .illustration img{
    height: auto;
    object-fit: cover;
    width: 100%;
      border-radius: 10px 10px 0px 0px;
}

.team .card--team .description{
    padding: 20px 0;
    background-color: #121725;
    border-radius: 0px 0px 10px 10px;
}

.team .card--team .description p,h4,h5{
    color: #fff;
    font-size: 20px;
}
.team-name{
  color: #fff;
  font-size:20px;
  font-weight:600;
}
.team .card--team .description button{
    border: none;
    padding: 10px 30px;
    border-radius:30px;
    cursor: pointer;
    background-color: #ff9933;
    color: #fff;
    transition: all .3s ease-in-out;
    outline: none;
}

.team .card--team .description button:hover{
    background-color: #fff;
    border: 1px solid #ff9933;
    color: #ff9933;
}

.team .card--team .description h4 ,h5{
    color: #3f3a64;
}

.stats{
    background-size: cover;
    background-image: linear-gradient(to right, rgba(25, 25, 25, 0.7), rgba(0, 0, 0, 0.7)), url(../image/l2.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding: 39px 0;
}

.stats .card--counter{
    margin-bottom: 20px;
}

.stats .card--counter h3{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}


.stats .card--counter p{
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: bold;
}


.listing{
    background-color: #121725;
    padding: 60px 0;
}

.listing .card--listing{
    border-radius:5px;
    box-shadow: 0px 9px 24px 5px rgba(0,0,0,0.04);
    margin: 10px 0;
}

.listing .card--listing .description{
    padding: 20px;
    background-color: #161c2d;
    color: #fff;
}

.listing .card--listing .illustration img{
    border-radius: 5px 5px 0 0;
}

.listing .card--listing .illustration .rent--buy{
    position: absolute;
    top: 30px ;
    left: 30px;

}


.listing .card--listing .illustration .rent--buy span{
    padding: 5px;
    background-color: #000 ;
    color: white;
    border-radius: 5px;
    font-weight: 600 ;
    color:chartreuse;


}

.listing .card--listing .illustration .price{
    position: relative;
}

.listing .card--listing .illustration .price h2{
    position: absolute;
    bottom:30px;
    left: 10px;
    color: white;
    font-weight: bold;
}

.listing .card--listing .description p{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.listing .card--listing .description h4 ,h5{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.listing .card--listing .description ul li{
    display: inline-block;
    margin-right: 20px;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

.listing .card--listing .description ul li span i{
    color: #858585;
}

.listing .card--listing .description .seilor{
    display: flex
}

.listing .card--listing .description .seilor img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}

.listing .card--listing .description .seilor .descrip-seilor{
    margin-left: 10px;
}

.listing .card--listing .description .seilor .descrip-seilor h5{
    font-size:17px ;
}

.listing .card--listing .description .seilor .descrip-seilor p{
    font-size: 15px;
}

.pagination-profil{
    height: 4.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    background-color:white;
    color: #ff9933;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #ff9933;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px ;
    transition: all .3s ease-in-out;
}

.circle:hover{
    background-color: #3f3a64;
    cursor: pointer;
}
.number{
  color:coral;
  font-size:18px;
  font-weight:600;

}
#agents{
  border:1px solid #161C2D;
}
i{
  color:coral;
  font-size:18px;
  font-weight:600;
}
/****************MEDIA QUERY************************/
/*********************************************************/

@media only screen and (max-width: 992px) {

}

@media only screen and (max-width: 700px) {
    .about .about--first .part--left{
        padding: 20px;
        background-color:#161c2d;
    }
}

/* ------  CSS pour la page about et list  d'article maison ------------*/





/* --------------- CSS For Junny -------------*/
#container{
  padding: 0;
  margin: 0;
  background-color:#121725;
  height:100vh;
  width:100%;
  color:#fff;
}
#cdcc{
  background: transparent;
}
.mycontainer{
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-bottom: 1px solid #C2C2C2;

}
.mycontainer-scroll{
  background-color:#121725;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  border-bottom: 1px solid #C2C2C2;
}
.header{
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  width: 100%;
}

nav{
  padding-top: 20%;

}

@media screen and (max-width: 992px) {
  #navb{
    background-color:none;
    font-size:16px;
  }
}
#searchbar{
  width: 180px;
}
#mainn{
  color:#fff;
  width: 100%;
  background-color:#121725;
}

ul li a{
  font-size:20px;
  color:#C2C2C2;

}
/* Principale Propriete */
.titre{
  margin:0 auto;
  width: 100%;
  text-align:center;
  padding: 20px 0px;
}
.titre h2{
  text-align:center;
}
#house{
  margin-bottom: 30px;
}
.mypic{
  height:220px;
  width:320px;
  border-radius: 10px;
  background-color:white;
  margin-left: 10px;
}



#services, #info {
  padding: 90px;
  background-color:#161C2D;
  margin-bottom:50px;
}
#serv{
  text-align: center;

}

#ville{
  height:200px;
  width:250px;
  background-color:white;
  border-radius: 10px;
  margin-bottom:  20px;
  margin-left:10px;
}

.rent span{
    padding: 5px;
    background-color: #000 ;
    color: white;
    border-radius: 5px;
    font-weight: 600 ;
    color:chartreuse;



}
.rent{
  position: absolute;
  top: 10px;
  margin-left: 10px;
}
.best{
  margin-bottom: 20px;
}

.best img{
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}



 .box-content{
    position: absolute;
    bottom:30px;
    left: 20px;
    color: white;
    text-shadow: 4px;
    text-align: center;
    font-weight: bold;
}
.box-content h3, span,h4{
  color: white;
  text-shadow: 4px;
  font-weight: 600;
  box-shadow:2px;
  text-align: center;
}
/*conseils description */

.bazar{
  width:100%;
  margin:0 auto;
  background-color:#121725;
}
.conseils{
  margin:0 auto;
  background-color:#121725;
}
#cons{
  border:1px solid white;
  border-radius: 10px;
  height:500px;
  width:80%;
  margin:0 auto;
}
.hanti{
  background-color:#161C2D;

  border-radius: 10px;
justify-content: center;
padding:10px;

}
.hack{
  justify-content:space-between;
}
.image{
    height:250px;

    margin-top:10px;
}
.image img{
  width:100%;
  height:100%;

  background-size: cover;

}
.date{
  width:100px;
  height:100px;
  position:absolute;
  top:-30px;
  left:30px;
  border-top: 2px solid coral;
  background-color:#161C2D;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;

}
.date small, h5{
  font-weight: bold;
}
.conseilcont{
  padding:10px;

}
/* Footer description */
.footer{

  padding: 50px 0px;
  background-color:#161C2D;
  color:#C2C2C2;
  border-top:1px solid #C2C2C2;
  margin-top:50px;
}
.firstb, .secb{

  text-align:center;

}


#mybloc{
  border-bottom:1px solid #C2C2C2;
justify-content: space-around;
  padding-bottom: 20px;
}
#ft{
  border-left: 1px solid #C2C2C2;
  align-items:center;
  margin-left: 20px;
  align-content: center;
  justify-content:justify;
}
.titlebas{
  color:orange;
  font-weight: bold;
  font-size:20px;

}

.titlebas a{
  text-decoration:none;
 color:orange;
}
.savoirplus{
  padding:10px;
}
.mynum{
  color:orange;
  font-weight:bold;
  font-size:25px;
  padding:10px;
}
#email{
  border-radius:40px 0px 0px 40px;
  background-color:transparent;
  border:1px;
  width:10px;

}
#email ::before{
  border: 1px;

}
#emailbtn{
  background-color:orange;
  border-radius:0px 40px 40px 0px;
  padding:10px;
  font-weight:bold;
  color:white;
  font-size:16px;
  margin-left: -5px;

}

ul.footers-17_social li {
  display: inline-block;
  margin: 0; }

ul.footers-17_social {
  margin-top: 40px; }

ul.footers-17_social li a {
  margin: 0; }

ul.footers-17_social li a span.fa {
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 15px;
  border-radius: 50%; }

ul.footers-17_social li a.twitter span.fa {
  color: #fff;
  background: #1da1f2; }

ul.footers-17_social li a.facebook span.fa {
  color: #fff;
  background: #3b5998; }

ul.footers-17_social li a.linkedin span.fa {
  color: #fff;
  background: #0077b5; }

ul.footers-17_social li a.instagram span.fa {
  color: #fff;
  background: #c13584; }

ul.footers-17_social li {
  margin-right: 5px; }

.figa{
  color:orange;
  font-size: 30px;

}
.fa-twitter{
  background-color:#1da1f2;
  width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 15px;
    border-radius: 50%;
    color:white;
}

.mesdroit{
  padding:20px;
  text-align: center;
  justify-content: center;
}

/*
.parent{
background-color:#121725;
height:100vh;
width:100%;
color:#fff;
}
*/
/* Header */
.haut{
  padding:0px;
  margin:0px;
  width: 100%;
  height:100vh;
  background: url(../images/banner1.jpg) ;
  min-height: 750px;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.haut h2{
  margin: 0px;
  padding: 0px;
}
.haut .post{
   content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.slogan{
  margin: auto ;
  text-align: center;
  margin-top:15%;
}
.slogan1 h2{
  font-weight: 600;
  color:#fff;
  text-shadow:5px;
  font-size:50px;
  text-align: center;
  margin-bottom:70px;
}
.slogan1 p{
  color:gray;
  text-align: center;
  margin-bottom:50px;
  font-size:20px;
}
.slogan1 form select, option,input,button{
  background-color:white;
  font-size:18px;
  color:darkgray;
  padding:20px 20px;
  border-radius:0px;
  border:none;
}

@media (max-width: 800px) {
.slogan{
    margin: auto ;
    text-align: center;
    margin-top:30%;
}
}
